<div class='w-full h-full flex' (mousemove)='onMouseMove($event)' (mouseup)='onMouseUp()'>
  <main class='grow h-full'>
    <svg id='canvas' class='w-full h-full bg-black'>
      <g>
        @for (atom of airAtoms; track atom.id) {
          <circle [attr.cx]='atom.pos.x' [attr.cy]='atom.pos.y' r='8' [attr.fill]='getColor(atom)' />
        }
      </g>
      <g>
        @for (object of objects; track object.id) {
          <rect [attr.x]='object.pos.x' [attr.y]='object.pos.y' [attr.width]='object.width'
                [attr.height]='object.height' fill='#808080' rx='10'
                (mousedown)='onMouseDown($event, object)' />
          <g>
            @for (atom of object.atoms; track atom.id) {
              <circle [attr.cx]='object.pos.x + atom.pos.x + object.atomRadius / 2'
                      [attr.cy]='object.pos.y + atom.pos.y + object.atomRadius / 2'
                      [attr.r]='object.atomRadius'
                      [attr.fill]='getColor(atom)' style='pointer-events: none' />
            }
          </g>
        }
      </g>
      <g></g>
    </svg>
  </main>
</div>

<aside
  class='fixed top-4 right-4 gap-4 flex flex-col max-h-screen overflow-hidden overflow-y-auto  pb-12'>
  <div class='bg-neutral-800/50 p-4 rounded-3xl backdrop-blur-lg w-[500px]'>
    <h6 class='text-base text-white'>Objects</h6>
    <div class='grid grid-cols-[1fr_1fr_1fr_auto]'>
      @if (objects.length !== 0) {
        <label class='text-white border-b border-b-white/20 pb-4'>Material</label>
        <label class='text-white border-b border-b-white/20 pb-4'>Temperature</label>
        <label class='text-white border-b border-b-white/20 pb-4'>Size</label>
        <label class='text-white border-b border-b-white/20 pb-4'></label>
      }
      @for (object of objects; track object.id; let idx = $index) {
        <span
          [ngClass]='"text-white border-b border-b-white/20 py-2 flex items-center " + ((idx === objects.length - 1) ? "border-none" : "")'>{{ getNameByZ(object.z) }}</span>
        <span
          [ngClass]='"text-white border-b border-b-white/20 py-2 flex items-center " + ((idx === objects.length - 1) ? "border-none" : "")'>{{ meanTemperature(object).toFixed(2) }}
          K</span>
        <span
          [ngClass]='"text-white border-b border-b-white/20 py-2 flex items-center " + ((idx === objects.length - 1) ? "border-none" : "")'>{{ (object.cols * object.atomRadius * 30).toFixed(0) + 'x' + (object.rows * object.atomRadius * 30).toFixed(0) }}
          pm</span>
        <div
          [ngClass]='"border-b border-b-white/20 py-2 flex items-center " + ((idx === objects.length - 1) ? "border-none" : "")'>
          <button mat-icon-button (click)='objects.splice(objects.indexOf(object), 1)'>
            <mat-icon class='text-red-500'>remove_circle_outline</mat-icon>
          </button>
        </div>
      }
    </div>
    <button mat-flat-button class='text-white w-full' (click)='openDialog()'>Add object</button>
  </div>
  <div class='bg-neutral-800/50 p-4 rounded-3xl backdrop-blur-lg w-[500px]'>
    <h6>Environment configurations</h6>
    <p>Speed of simulation: {{ interval }}</p>
    <mat-slider class='!w-full' [max]='10000' [min]='1' [step]='1' [discrete]='true'>
      <input matSliderThumb [(ngModel)]='interval' (dragEnd)='startInterval(10001 - $event.value)'>
    </mat-slider>
    <p>Temperature of simulation: {{ baseTemp }} K</p>
    <mat-slider class='!w-full' [max]='500' [min]='0' [step]='1' [discrete]='true'>
      <input matSliderThumb [(ngModel)]='baseTemp' (dragEnd)='setTemp($event.value)'>
    </mat-slider>
    <div class='flex justify-between items-center pb-4'>
      <p class='!mb-0'>Background atoms</p>
      <mat-slide-toggle [(ngModel)]='backgroundAtoms'
                        (change)='!$event.checked ? removeAir() : generateAir()'></mat-slide-toggle>
    </div>
  </div>
  <div class='bg-neutral-800/50 p-4 rounded-3xl backdrop-blur-lg w-[500px]'>
    <p class='!mb-0'>Temperature: {{ toolTipContent }} K</p>
  </div>
  <div [ngClass]="'bg-neutral-800/50 p-4 rounded-3xl backdrop-blur-lg w-[500px] ' + (objectTooltip ? null : 'hidden')">
    <p>{{ currentObject ? getNameByZ(currentObject.z) : '' }}</p>
    <div class='flex items-center gap-16 justify-center'>
      <div class='flex flex-col items-center'>
        <svg viewBox='0 0 500 500' class='h-20'>
          <g *ngFor='let shell of shells; let i = index'>
            <circle cx='250' cy='250' [attr.r]='220 - 25 * i' stroke-width='4' fill='none' stroke='#828282'></circle>
            <g *ngFor='let j of getRange(shell); let k = index'>
              <circle [attr.cx]='470 - 25 * i' cy='250' r='7' fill='#828282'>
                <animateTransform attributeName='transform' attributeType='XML' type='rotate'
                                  [attr.from]="360 / getRange(shell).length * j + ' 250 250'"
                                  [attr.to]="360 / getRange(shell).length * j + 360 + ' 250 250'"
                                  repeatCount='indefinite'
                                  [attr.dur]="(2 * PI * (220 - 25 * i)) / velocity + 's'" />
              </circle>
            </g>
          </g>
        </svg>
        <div class='flex flex-col items-center'>
          <label
            [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
            class='symbol-active text-4xl'>{{ activeElement.symbol }}</label>
          <label
            [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
            class='name-active'>{{ activeElement.name }}</label>
        </div>
        <label
          [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
          class='mass-active'>{{ activeElement.mass }}</label>
      </div>
      <div>
        <p class='!mb-0'>Average temperature</p>
        <p>{{ currentObject && meanTemperature(currentObject).toFixed(2) }}K</p>
        <p class='!mb-0'>Size</p>
        <p>{{
            currentObject && ((currentObject.cols * currentObject.atomRadius * 30).toFixed(0) + 'x' + (currentObject.rows * currentObject.atomRadius * 30).toFixed(0))
          }} pm</p>
      </div>
    </div>
  </div>
  <div class='bg-neutral-800/50 p-4 rounded-3xl backdrop-blur-lg w-[500px] flex flex-col items-center'>
    <img src='assets/image.png' alt="equation" />
  </div>
</aside>


<div
  [ngClass]="'fixed z-50 top-0 left-0 flex flex-col backdrop-blur-lg w-screen h-screen overflow-auto pr-8 ' + (tableOpen ? null : 'hidden')">
  <div id='table' class='relative w-full h-full'>
    @for (element of tableElements; track element.Z) {
      <div (mouseenter)='selectActiveElement(element)' class='absolute border border-transparent flex cursor-pointer'
           (click)='addElement(element)'
           [ngStyle]='getPos(element)'>
        <div
          class='w-full h-full border bg-[#131313] hover:scale-150 hover:z-50 flex flex-col items-center justify-between'
          [ngStyle]="{
          borderColor: themes[element.group],
          borderWidth: '1px',
          filter: (element.inactive ? 'opacity(.25)' : '')
          }"
          style='-webkit-transition: all 0.07s ease-in-out !important;
	-moz-transition: all 0.07s ease-in-out !important;
	-ms-transition: all 0.07s ease-in-out !important;
	-o-transition: all 0.07s ease-in-out !important;
	transition: all 0.07s ease-in-out !important;'>
          <span class='text-white text-xs leading-none self-start pt-1 pl-1' [ngStyle]="{
          color: themes[element.group],
          'text-shadow': '0px 0px 5px ' + themes[element.group]
          }">{{ element.Z }}</span>
          <div class='flex flex-col items-center'>
            <span class='text-white text-2xl leading-none' [ngStyle]="{
          color: themes[element.group],
          'text-shadow': '0px 0px 5px ' + themes[element.group]
          }">{{ element.symbol }}</span>
            <span class='text-white text-xs leading-none' [ngStyle]="{
          color: themes[element.group],
          'text-shadow': '0px 0px 5px ' + themes[element.group]
          }">{{ element.name }}</span>
          </div>
          <span class='text-white text-xs leading-none pb-1' [ngStyle]="{
          color: themes[element.group],
          'text-shadow': '0px 0px 5px ' + themes[element.group]
          }">{{ element.mass }}</span>
        </div>
      </div>
    }
    <div class='absolute flex flex-col items-center justify-between' [ngStyle]='getPosElementCard({x: 1, y: 8.5})'>
      <svg class='absolute' viewBox='0 0 500 500'>
        <g *ngFor='let shell of shells; let i = index'>
          <circle cx='250' cy='250' [attr.r]='220 - 25 * i' stroke-width='4' fill='none' stroke='#828282'></circle>
          <g *ngFor='let j of getRange(shell); let k = index'>
            <circle [attr.cx]='470 - 25 * i' cy='250' r='7' fill='#828282'>
              <animateTransform attributeName='transform' attributeType='XML' type='rotate'
                                [attr.from]="360 / getRange(shell).length * j + ' 250 250'"
                                [attr.to]="360 / getRange(shell).length * j + 360 + ' 250 250'" repeatCount='indefinite'
                                [attr.dur]="(2 * PI * (220 - 25 * i)) / velocity + 's'" />
            </circle>
          </g>
        </g>
      </svg>
      <label
        [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
        class='self-start text-xl'>{{ activeElement.Z }}</label>
      <div class='flex flex-col items-center'>
        <label
          [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
          class='symbol-active text-6xl'>{{ activeElement.symbol }}</label>
        <label
          [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
          class='name-active'>{{ activeElement.name }}</label>
      </div>
      <label
        [ngStyle]="{ 'color': themes[activeElement.group], 'text-shadow': '0px 0px 5px ' + themes[activeElement.group] }"
        class='mass-active'>{{ activeElement.mass }}</label>
    </div>
  </div>
</div>


<style>
  p, h6 {
    color: white;
  }
</style>
