<h2 mat-dialog-title>Add object</h2>
<mat-dialog-content class="!overflow-hidden">
  <p>Temperature: {{ temperature }}</p>
  <mat-slider
    class='!w-full'
    [max]='600'
    [min]='0'
    [step]='1'
    [discrete]='true'>
    <input matSliderThumb [(ngModel)]='temperature'>
  </mat-slider>
  <p>Width: {{ width }}</p>
  <mat-slider
    class='!w-full'
    [max]='25'
    [min]='1'
    [step]='1'
    [discrete]='true'>
    <input matSliderThumb [(ngModel)]='width'>
  </mat-slider>
  <p>Height: {{ height }}</p>
  <mat-slider
    class='!w-full'
    [max]='25'
    [min]='1'
    [step]='1'
    [discrete]='true'>
    <input matSliderThumb [(ngModel)]='height'>
  </mat-slider>
  <p>Selected element: {{ element.name }}</p>
  <button mat-flat-button class='w-full'
          [mat-dialog-close]='{ temperature: temperature, width: width, height: height, inProgress: true }'>Pick element
  </button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)='onNoClick()'>Cancel</button>
  <button mat-button [mat-dialog-close]='{ temperature: temperature, width: width, height: height, inProgress: false }'
          cdkFocusInitial>
    Ok
  </button>
</mat-dialog-actions>
<style>

</style>
